Package: zyphor-archive-keyring
Version: 1.0.0-beta-release
Section: utils
Priority: optional
Architecture: all
Maintainer: Mark Jason Espelita & Zyphor OS Team
Description: Zyphor OS archive-keyring Configuration
